@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2");
  font-display: swap;
}

html {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2d3440;
  background-color: #feafc3;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.page-header {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  min-height: 104px;
}

.right-header-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.right-header-link {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  margin-left: 32px;
  text-decoration: none;
  padding: 0;
}

.right-header-link-icon {
  margin-left: 8px;
  margin-bottom: 2px;
}

.right-header-button {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  border: none;
  padding: 0;
  margin-left: 35px;
  background-color: #feafc3;
  cursor: pointer;
}

.left-header-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;

}

.left-header-phone-link {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
  padding: 0;
  margin-left: 130px;
}

.left-header-button {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  border: none;
  padding: 6px 16px 6px 16px;
  margin-left: 16px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.header-search {
  padding: 9px;
  border-radius: 50%;
  background-color: rgba(252, 252, 252, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-header-icon {
  margin-right: 8px;
}

.slider {
  display: flex;
  flex-direction: column;
  width: 1170px;
  margin: 0 auto;
}

.slider-upper-container {
  display: flex;
}

.slider-photo-container {
  display: flex;
  margin-left: 21px;
  align-items: center;
}

.icecream-one-img {
  margin-top: 21px;
}

.icecream-two-img {
  margin-left: 79px;
}

.icecream-three-img {
  margin-left: 75px;
}

.slider-description-container {
  display: flex;
  flex-direction: column;
  width: 470px;
  align-items: center;
}

.slider-description-title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  color: #2d3440;
  margin-top: 136px;
  margin-bottom: 0;
}

.slider-description-text {
  margin-top: 24px;
  margin-bottom: 0;
}

.slider-description-button {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  background-color: rgba(252, 252, 252, 0.4);
  padding: 12px 32px 12px 32px;
  border-radius: 26px;
  border: 4px solid rgba(252, 252, 252, 0.4);
  margin-top: 48px;
  margin-bottom: 0;
  position: relative;
  left: -165px;
  box-shadow: 0 4px 12px 0 #2D3440;
}

.slider-lower-container {
  display: flex;
  justify-content: space-between;
}

.slider-buttons-container {
  margin-top: 14px;
}

.slider-lower-button {
  width: 12px;
  height: 12px;
  background-color: #fcfcfc;
  border: none;
  border-radius: 50%;
  opacity: 30%;
  margin-left: 8px;
}

.first-slider-lower-button {
  opacity: 100%;
  margin-left: 0;
}

.slider-links-container {
  display: flex;
}

.slider-lower-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50px;
  border: 4px solid rgba(252, 252, 252, 0.4);
  background-color: #fcfcfc;
}

.slider-lower-link:not(:first-child) {
  margin-left: 16px;
}

.banners {
  display: flex;
  flex-direction: column;
  width: 1170px;
  margin: 0 auto;
}

.banners-container {
  display: flex;
  justify-content: space-between;
}

.description-container {
  width: 351px;
}

.banner-title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
  margin-top: 80px;
  width: 434px;
  text-align: center;
}

.left-banner {
  width: 570px;
  min-height: 268px;
  background-color: #ff7799;
  border-radius: 16px;
  display: flex;
}

.right-banner {
  width: 570px;
  min-height: 268px;
  background-color: #ff7799;
  border-radius: 16px;
  display: flex;
}

.banner-title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 55px;
}

.mini-banner-title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
  margin-top: 36px;
  margin-left: 36px;
  margin-bottom: 0;
}

.banner-text {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #2d3440;
  margin-top: 28px;
  margin-left: 36px;
  margin-bottom: 0;
  width: 328px;
}

.banner-img {
  position: relative;
  top: 8px;
}

.banner-button {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  padding: 12px 32px 12px 32px;
  background-color: #fcfcfc;
  border: 4px solid #FCFCFC;
  box-shadow: 0 4px 12px 0 #2D3440;
  margin-top: 28px;
  margin-left: 36px;
  margin-bottom: 36px;
  border-radius: 26px;
  cursor: pointer;
}

.products {
  display: flex;
  flex-direction: column;
  width: 1170px;
  margin: 0 auto;
}

.upper-products-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

.products-title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
  margin-top: 81px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 107px;
  width: 527px;
  text-align: center;
}

.products-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 270px;
  background-color: #fcfcfc;
  border-radius: 8px;
}

.products-img {
  position: relative;
  top: -51px;
}

.upper-products-title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
  margin-top: 16px;
  margin-bottom: 8px;
}

.products-description {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #2d3440;
  margin-top: 0;
  margin-bottom: 20px;
  width: 190px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.lower-products-item {
  display: flex;
  width: 190px;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
}

.lower-products-prise {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
}

.lower-products-button {
  border: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
  padding: 0;
  background-color: #fcfcfc;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1170px;
  margin: 0 auto;
  padding: 56px 40px 56px 40px;
}

.info-title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
  margin: 0 auto;
  text-align: center;
}

.info-list {
  display: grid;
  grid-template-columns: 442px 442px;
  list-style-type: none;
  padding: 0;
  column-gap: 30px;
  row-gap: 40px;
}

.info-item {
  display: flex;
}

.news {
  display: flex;
}

.delivery {
  display: flex;
}

.breadcrumbs-list {
  display: flex;
  list-style-type: none;
}

.filter {
  display: flex;
  flex-direction: column;
}

.upper-filter {
  display: flex;
}

.lower-filter {
  display: flex;
}

.catalog-products-list {
  display: grid;
  grid-template-columns: 270px 270px 270px;
  list-style-type: none;
}

.catalog-products-card-prise {
  display: flex;
}

.pagination {
  display: flex;
}

.pagination-list {
  display: flex;
  list-style-type: none;
}

.page-footer {
  display: flex;
}

.footer-menu-list {
  display: grid;
  grid-template-columns: 182px 182px;
}

.footer-academy-container {
  display: flex;
  flex-direction: column;
}
