@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2");
  font-display: swap;
}

html {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2d3440;
  background-color: #feafc3;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.page-header {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  min-height: 104px;
}

.right-header-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.right-header-link {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  margin-left: 32px;
  text-decoration: none;
  padding: 0;
}

.right-header-link-icon {
  margin-left: 8px;
  margin-bottom: 2px;
}

.right-header-button {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  border: none;
  padding: 0;
  margin-left: 35px;
  background-color: #feafc3;
  cursor: pointer;
}

.left-header-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;

}

.left-header-phone-link {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
  padding: 0;
  margin-left: 130px;
}

.left-header-button {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  border: none;
  padding: 6px 16px 6px 16px;
  margin-left: 16px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.header-search {
  padding: 9px;
  border-radius: 50%;
  background-color: rgba(252, 252, 252, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-header-icon {
  margin-right: 8px;
}

.slider {
  display: flex;
  flex-direction: column;
  width: 1170px;
  margin: 0 auto;
}

.slider-upper-container {
  display: flex;
}

.slider-photo-container {
  display: flex;
  margin-left: 21px;
  align-items: center;
  position: relative;
}

.icecream-one-img {
  margin-top: 21px;
}

.icecream-two-img {
  margin-left: 79px;
  opacity: 80%;
  z-index: 1;
}

.icecream-three-img {
  margin-left: 75px;
  opacity: 80%;
  z-index: 1;
}

.left-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  background-color: #ff2f64;
  border: 2px solid #fcfcfc;
  border-radius: 50%;
  position: absolute;
  top: 260px;
  left: -25px;
}

.left-arrow::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ffcbd8;
  top: -45px;
  right: -460px;
  opacity: 40%;
}

.right-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  background-color: #ff2f64;
  border: 2px solid #fcfcfc;
  border-radius: 50%;
  position: absolute;
  top: 260px;
  right: 270px;
}

.right-arrow::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ffcbd8;
  top: -45px;
  right: -290px;
  opacity: 40%;
}

.slider-description-container {
  display: flex;
  flex-direction: column;
  width: 470px;
  align-items: center;
}

.slider-description-title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  color: #2d3440;
  margin-top: 136px;
  margin-bottom: 0;
  position: relative;
}

.slider-description-title::before {
  content: "";
  position: absolute;
  width: 312px;
  height: 312px;
  border-radius: 50%;
  background-color: #ffcbd8;
  top: -10px;
  right: -325px;
}

.slider-description-text {
  margin-top: 24px;
  margin-bottom: 0;
}

.slider-description-button {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  background-color: #fcfcfc;
  padding: 12px 32px 12px 32px;
  border-radius: 26px;
  border: 4px solid rgba(252, 252, 252, 0.4);
  margin-top: 48px;
  margin-bottom: 0;
  position: relative;
  left: -165px;
  box-shadow: 0 4px 12px 0 #2D3440;
  cursor: pointer;
}

.slider-lower-container {
  display: flex;
  justify-content: space-between;
}

.slider-buttons-container {
  margin-top: 14px;
}

.slider-lower-button {
  width: 12px;
  height: 12px;
  background-color: #fcfcfc;
  border: none;
  border-radius: 50%;
  opacity: 30%;
  margin-left: 8px;
}

.first-slider-lower-button {
  opacity: 100%;
  margin-left: 0;
}

.slider-links-container {
  display: flex;
}

.slider-lower-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50px;
}

.slider-lower-link:not(:first-child) {
  margin-left: 16px;
}

.banners {
  display: flex;
  flex-direction: column;
  width: 1170px;
  margin: 0 auto;
}

.banners-container {
  display: flex;
  justify-content: space-between;
}

.description-container {
  width: 351px;
}

.banner-title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
  margin-top: 80px;
  width: 434px;
  text-align: center;
}

.left-banner {
  width: 570px;
  min-height: 268px;
  background-color: #ff7799;
  border-radius: 16px;
  display: flex;
}

.right-banner {
  width: 570px;
  min-height: 268px;
  background-color: #ff7799;
  border-radius: 16px;
  display: flex;
}

.banner-title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 55px;
}

.mini-banner-title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
  margin-top: 36px;
  margin-left: 36px;
  margin-bottom: 0;
}

.banner-text {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #2d3440;
  margin-top: 28px;
  margin-left: 36px;
  margin-bottom: 0;
  width: 328px;
}

.banner-img {
  position: relative;
  top: 8px;
}

.banner-button {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  padding: 12px 32px 12px 32px;
  background-color: #fcfcfc;
  border: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px 0 #2D3440;
  margin-top: 28px;
  margin-left: 36px;
  margin-bottom: 36px;
  border-radius: 26px;
  cursor: pointer;
}

.products {
  display: flex;
  flex-direction: column;
  width: 1170px;
  margin: 0 auto;
}

.upper-products-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.products-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

.products-title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
  margin-top: 81px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 107px;
  width: 527px;
  text-align: center;
}

.products-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 270px;
  background-color: #fcfcfc;
  border-radius: 8px;
}

.products-img {
  position: absolute;
  top: -50px;
  left: 51px;
}

.upper-products-title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
  margin-top: 133px;
  margin-bottom: 8px;
}

.products-description {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #2d3440;
  margin-top: 0;
  margin-bottom: 20px;
  width: 190px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.lower-products-item {
  display: flex;
  width: 190px;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
}

.lower-products-prise {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
}

.lower-products-button {
  border: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
  padding: 0;
  background-color: #fcfcfc;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1170px;
  height: 480px;
  margin: 0 auto;
  background-image: url(../images/index/waffle-background.jpg);
<<<<<<< HEAD
=======
  background-size: cover;
>>>>>>> 78cab7b6d3d0c7543ed2e1bfbc80f368a620926d
  background-color: #fcfcfc;
  border-radius: 16px;
}

.info-container {
  background-color: #fcfcfc;
  width: 1122px;
  height: 432px;
  margin: auto;
}

.info-title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
  margin: 56px auto 0 auto;
  text-align: center;
}

.info-list {
  display: grid;
  grid-template-columns: 510px 510px;
  list-style-type: none;
  padding: 0;
  column-gap: 30px;
  margin-left: 40px;
}

.info-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-ring {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  min-width: 48px;
  height: 48px;
  min-height: 48px;
  border: 2px solid #2d3440;
  border-radius: 50%;
  margin-right: 16px;
}

.news {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin: 80px auto 0 auto;
}

.news-container {
  width: 570px;
  min-height: 224px;
  background-color: #fcfcfc;
  border-radius: 16px;
  background-image: url(../images/index/news-background.png);
  background-size: cover;
  background-position: 0 -90px;
}

.news-text {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  margin-top: 32px;
  margin-left: 32px;
  margin-bottom: 0;
}

.news-title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
  margin-top: 12px;
  margin-left: 32px;
  margin-bottom: 67px;
  width: 303px;
  text-align: left;
}

.subscribe-container {
  width: 570px;
  height: 224px;
  background-color: #fcfcfc;
  border-radius: 16px;
  background-image: url(../images/index/subscribe-background.png);
  background-size: cover;
}

.subscribe-add-container {
  position: relative;
  top: -20px;
  left: 6px;
  width: 558px;
  height: 212px;
  background-color: #fcfcfc;
  border-radius: 16px;
}

.subscribe-text {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #2d3440;
  margin: 26px auto 44px auto;
  width: 506px;
  text-align: left;
}

.subscribe-field {
  width: 332px;
  height: 48px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  margin-left: 26px;
  margin-bottom: 26px;
  opacity: 30%;
}

.subscribe-button {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fcfcfc;
  border: 4px solid #ff2f64;
  padding: 12px 32px 12px 32px;
  box-shadow: 0 4px 12px 0 #2d3440;
  margin-left: 18px;
  background-color: #ff2f64;
  border-radius: 26px;
  cursor: pointer;
}

.delivery {
  display: flex;
  width: 1170px;
  margin: 80px auto 0 auto;
  background-color: #fcfcfc;
  border-radius: 16px;
}



.delivery-info-title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
  margin: 167px 0 24px 100px;
  width: 356px;
  text-align: left;
  border-radius: 16px;
}

.delivery-info-text {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #2d3440;
  margin: 0 0 163px 100px;
  width: 371px;
  text-align: left;
}

.delivery-form-container {
  width: 500px;
  height: 406px;
  background-color: #fcfcfc;
  margin: 64px 64px 64px 135px;
  border-radius: 8px;
  box-shadow: 0 15px 40px 0 #2d3440;
}

.delivery-form-text {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #2d3440;
  margin-top: 40px;
  margin-left: 40px;
  margin-bottom: 32px;
}

.form-container {
  display: flex;
}

.delivery-form-date {
  margin-left: 40px;
}

.form-field-date {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #2d3440;
  opacity: 30%;
  width: 117px;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #b9b9b9;
  padding-left: 16px;
}

.form-text-date {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
  margin-top: 0;
  color: #2d3440;
}

.delivery-form-tel {
  margin-left: 16px;
}

.form-field-tel {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #2d3440;
  opacity: 30%;
  width: 287px;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #b9b9b9;
  padding-left: 16px;
}

.form-text-tel {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
  margin-top: 0;
  color: #2d3440;
}

.delivery-form-adress {
  margin-left: 40px;
}

.form-field-adress {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #2d3440;
  opacity: 30%;
  width: 420px;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #b9b9b9;
  padding-left: 16px;
}

.form-text-adress {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
  margin-top: 20px;
  color: #2d3440;
}

.form-button {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fcfcfc;
  border: 4px solid #ff2f64;
  padding: 12px 32px 12px 32px;
  box-shadow: 0 4px 12px 0 #2d3440;
  margin: 32px 147px 42px 170px;
  background-color: #ff2f64;
  border-radius: 26px;
  cursor: pointer;
}

.adress {
  display: flex;
  width: 1170px;
  min-height: 492px;
  margin: 80px auto 0 auto;
  background-color: #ff7799;
  border-radius: 16px;
}

.adress-container {
  display: flex;
  flex-direction: column;
  background-color: #fcfcfc;
  border-radius: 8px;
  width: 343px;
  height: 364px;
  box-shadow: 0 8px 16px 0 #2d3440;
  margin-top: 64px;
  margin-bottom: 64px;
  margin-left: 64px;
}

.adress-text {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
  margin-top: 40px;
  margin-bottom: 0;
  margin-left: 40px;
  text-align: left;
  width: 179px;
}

.main-adress {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
  margin-top: 12px;
  margin-bottom: 0;
  margin-left: 40px;
  text-align: left;
  width: 263px;
}

.adress-phone {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
  margin-top: 24px;
  margin-bottom: 0;
  margin-left: 40px;
  text-align: left;
}

.adress-number {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
  margin-top: 12px;
  margin-bottom: 0;
  margin-left: 40px;
  text-align: left;
}

.adress-timesheet {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #565c66;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 40px;
  text-align: left;
}

.adress-button {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fcfcfc;
  border: 4px solid #ff2f64;
  padding: 12px 22px 12px 22px;
  box-shadow: 0 4px 12px 0 #2d3440;
  margin: 32px 147px 42px 170px;
  background-color: #ff2f64;
  border-radius: 26px;
  cursor: pointer;
  margin-top: 32px;
  margin-bottom: 42px;
  margin-left: 40px;
  width: 250px;
}

.breadcrumbs-list {
  display: flex;
  list-style-type: none;
}

.filter {
  display: flex;
  flex-direction: column;
}

.upper-filter {
  display: flex;
}

.lower-filter {
  display: flex;
}

.catalog-products-list {
  display: grid;
  grid-template-columns: 270px 270px 270px;
  list-style-type: none;
}

.catalog-products-card-prise {
  display: flex;
}

.pagination {
  display: flex;
}

.pagination-list {
  display: flex;
  list-style-type: none;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1170px;
  height: 153px;
  margin: 0 auto;
}

.footer-links {
  display: flex;
  align-items: center;
}

.vk-link {
  margin-left: 16px;
}

.youtube-link {
  margin-left: 16px;
}

.footer-menu-list {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  display: grid;
  grid-template-columns: 160px 240px;
  column-gap: 24px;
  row-gap: 8px;
  list-style-type: none;
  padding: 0;
}

.for-provider {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
}

.footer-menu-link {
  position: relative;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  cursor: pointer;
}

.footer-like-icon {
  position: absolute;
  top: 2px;
  left: -20px;
}

.footer-academy-container {
  display: flex;
  flex-direction: column;
}

.footer-logo-link {
  margin-top: 48px;
}

.footer-text {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #2d3440;
}
<<<<<<< HEAD

.
=======
>>>>>>> bfcd6c4fce1a7ad645de25d12af06bd39de291b5
